<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="myBean" name="myFirstBean, my1thBean" class="edu.fatec.di.Movie">
		<property name="name" value = "Avengers"/>
		<property name="id" value ="100"/>
		<property name="duration" value ="3400"/>
	</bean>
	
	<bean id="myBean2" class="edu.fatec.di.Movie">
		<constructor-arg type="java.lang.Long" value="1"/>
		<constructor-arg type="java.lang.String" value="Avengers"/>
		<constructor-arg type="java.lang.Long" value="2400"/>
	</bean>
	
	<bean id="myBean3" class="edu.fatec.di.Movie">
		<constructor-arg index="0" value="2"/>
		<constructor-arg index="1" value="Capitão America"/>
		<constructor-arg index="2" value="3400"/>
	</bean>
	
	<bean id="movieFinder" 
			factory-bean="movieFinderFactory" 
			factory-method="createBean"
			scope="prototype"
			> 
	</bean>
	
	<bean id="movieFinder2" 
		class="edu.fatec.di.CsvMovieFinder" primary="true">
		<constructor-arg index="0" ref="file"/>
	</bean>
	
	
	<bean id="movieFinderFactory" class="edu.fatec.di.MovieFinderFactory" />
	
	<bean id="file" class="java.io.File">
		<constructor-arg index="0" value="src/main/resources/movies.csv"/>
	</bean>
	
	
	<!-- 
		<bean id="movieService" class="edu.fatec.di.services.MovieServiceImpl"/>
	 -->
	<!-- 
	<context:component-scan base-package="edu.fatec.di" />
	 -->
	 
	<import resource="context2.xml"/>
</beans>
